/*--- 1. Font Section Start---*/
@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Light;
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Hairline;
  src: url("../fonts/Lato-Hairline.ttf") format("truetype");
}

body{
	background-color:#f2f2f2;
}

/*-----======= Navbar CSS Start =====-------*/
/*.custom-navbar{
	background-color:#ffffff;
	border-color:#ffffff;
	box-shadow: rgba(196, 196, 196, .88) 0px 0px 12px;
    border-radius: 0;
}*/
.custom-navbar .navbar-header > a{
	line-height: 1.8;
	font-family:Lato-Regular;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.custom-navbar .navbar-header > a:hover{
	color:#000000;
}
.custom-navbar .custom-link > li > a{
	font-family:Lato-Regular;
	color:#676a6c;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.custom-navbar .custom-link > li > a:hover, .custom-navbar .custom-link > li > a:active, .custom-navbar .custom-link > li > a:focus{
	background-color:#e7e7e7;
	color:#000000;
}
.custom-dropdown{
	background-color:#ffffff;
	border-color:#ffffff;
	padding-top:0;
	padding-bottom:0;
}
.custom-dropdown li > a{
	padding:8px 12px !important;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.custom-dropdown li > a:hover{
	padding-left: 20px;
}
.custom-box-shadow{
	box-shadow: rgba(196, 196, 196, .88) 0px 0px 8px;
}
.custom-label{
	margin-top: 10px;
	color:#676a6c;
	font-family:Lato-Regular;
	opacity: 0.8;
}
.custom-label i{
	font-size:20px;
	color:#000000;
	vertical-align: middle;
}
.custom-text input[type="text"], .custom-text input[type="email"], .custom-text input[type="password"]{
	height:42px;
	border-color:#e0e0e0;
	border-radius:15px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-webkit-transition:border-color 0.5s ease-in-out;
	-moz-transition:border-color 0.5s ease-in-out;
	-o-transition:border-color 0.5s ease-in-out;
	-ms-transition:border-color 0.5s ease-in-out;
	transition:border-color 0.5s ease-in-out;
}
.custom-text input[type="text"]:focus,.custom-text input[type="email"]:focus, .custom-text input[type="password"]:focus{
	border-color:#1ab394;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	outline:none;
}
.custom-text input{
	color:#1ab394;
	text-shadow: 0px 0px 0px #676a6c !important;
  	-webkit-text-fill-color: transparent !important;
  	word-spacing: 2px;
}
.custom-text input::-webkit-input-placeholder{
  color:#676a6c;
  opacity: 0.3;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}
.custom-bg{
	background-color:#ffffff;
	border-color:#ffffff;
}
.custom-padding{
	padding:30px;
}
.custom-heading h4{
	color:#676a6c;
	font-family:Lato-Regular;
	margin-bottom:15px;
}
.custom-heading h3{
	color:#676a6c;
	font-family:Lato-Regular;
	margin-bottom:20px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 12px;
    border-radius: 15px;
    width:100%;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
.inputfile-1 + label {
    color: #676a6c;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    opacity: 0.6;
    font-family: Lato-Regular;
    -webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #e0e0e0;
    outline:none;
    color:#000000;
}
.inputfile-1:focus + label,
.inputfile-1.has-focus + label{
	border-color:#1ab394;
}
.btn-submit{
	background-color:#1dc9a6;
	border-color:#1dc9a6;
	font-family:Lato-Light;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.btn-padding{
	padding: 10px 12px;
}
.btn-padding-big{
	padding:14px;
}
.btn-submit:hover, .btn-submit:focus, .btn-submit:active{
	background-color:#1ab394;
	color:#fff;
	border-color:#1ab394;
	outline:none;
	box-shadow: rgba(196, 196, 196, .88) 0px 6px 10px;
}
.custom-border{
	border-bottom: 6px solid rgba(103, 106, 108, 0.53);
}
.custom-margin{
	margin:80px auto;
}
.agent-margin{
	margin-top:35px;
}
.agent-padding{
	padding:20px;
}
.agent-text h4{
	margin-top:0;
	color:#676a6c;
	margin-bottom:15px;
	font-family: Lato-Regular;
}
.semi-bold{
	font-family: Lato-Light;
	color:#676a6c;
}
.medium-bold{
	font-weight:600;
	font-family: Lato-Regular;
	color:#212121;
	line-height: 2;
}
.agent-border-radius{
	border-radius:10px;
}
.custom-checkbox-correct input[type=checkbox] {
  display: none;
}
.custom-checkbox-correct input[type=checkbox] + label:before {
  content: "\f1db";
  font-size: 23px;
  color:#676a6c;
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin-right: 5px;
}
.custom-checkbox-correct input[type=checkbox]:checked + label:before {
  content: "\f058";
  display: inline-block;
  animation:fadein 0.4s ease-in;
}
.custom-checkbox-correct input[type=checkbox]:checked + label:before {
  font-size: 23px;
  vertical-align: top;
  color:#1ab394;
  line-height: 1.3;
}
.custom-checkbox-wrong input[type=checkbox] {
  display: none;
}
.custom-checkbox-wrong input[type=checkbox] + label:before {
  content: "\f1db";
  font-size: 23px;
  color:#676a6c;
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin-right: 5px;
}
.custom-checkbox-wrong input[type=checkbox]:checked + label:before {
  content: "\f057";
  display: inline-block;
  animation:fadein 0.4s ease-in;
}
.custom-checkbox-wrong input[type=checkbox]:checked + label:before {
  font-size: 23px;
  vertical-align: top;
  color:#e60000;
  line-height: 1.3;
}
.first-margin{
	margin-top: 1px;
}
.button-margin-top{
	margin-top:30px;
}
.btn-next{
	background-color:#4088c5;
	border-color:#4088c5;
	font-family: Lato-Light;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.btn-next:hover, .btn-next:focus, .btn-next:active{
	background-color:#286090;
	color:#ffffff;
	border-color:#286090;
	box-shadow: rgba(196, 196, 196, .88) 0px 6px 10px;
}
.btn-border-radius{
	border-radius:12px;
}
.agent-label{
	margin-top: 6px;
	color:#676a6c;
	font-family:Lato-Regular;
	opacity: 0.8;
}
.agent-custom-control input[type="text"]{
	border-color:#e0e0e0;
	border-radius:15px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	-webkit-transition:border-color 0.5s ease-in-out;
	-moz-transition:border-color 0.5s ease-in-out;
	-o-transition:border-color 0.5s ease-in-out;
	-ms-transition:border-color 0.5s ease-in-out;
	transition:border-color 0.5s ease-in-out;
}
.agent-custom-control input[type="text"]:focus{
	border-color:#1ab394;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	outline:none;
}
.agent-custom-control input{
	color:#1ab394;
	text-shadow: 0px 0px 0px #676a6c !important;
  	-webkit-text-fill-color: transparent !important;
  	word-spacing: 2px;
}
.agent-custom-control input::-webkit-input-placeholder{
  color:#676a6c;
  opacity: 0.3;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: auto auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.66);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.custom-height-spinner{
	height:300px;
}
.message-spinner{
	position: relative;
    left: 0;
    top: 54%;
    bottom: 0;
    right: 0;
    color: #676a6c;
    font-family: Lato-Light;
}
.message-spinner h5{
	font-size:18px;
}
.check-mark-margin{
	margin-top:4px;
}
.custom-para p{
	margin-bottom: 0;
}
/*.image-height{ 
	height:360px;
}*/
@media (min-width:1200px){
	.custom-margin{
		margin:80px auto !important;
	}
	.margin-top{
		margin-top:0px !important;
	}
	.agent-padding {
	    padding: 20px !important;
	}
	.custom-right-margin{
		margin-top:0 !important;
	}
	.custom-right-margin-btn{
		margin-top:0 !important;
	}
	.button-margin-top{
		margin-top:30px !important;
	}
	.custom-box-shadow{
		box-shadow: rgba(196, 196, 196, .88) 0px 0px 8px !important;
	}
	.custom-border-all{
		border:none !important;
	}
	.custom-navbar .navbar-header > a{
		line-height: 1.8 !important;
	}
	/*.image-height{
		height:360px !important;
	}*/
}
@media (min-width:992px){
	.custom-margin{
		margin: 60px auto !important;
	}
	.margin-top{
		margin-top:0px !important;
	}
	.agent-padding {
	    padding: 20px !important;
	}
	.custom-right-margin{
		margin-top:0 !important;
	}
	.custom-right-margin-btn{
		margin-top:0 !important;
	}
	.button-margin-top{
		margin-top:30px !important;
	}
	.custom-box-shadow{
		box-shadow: rgba(196, 196, 196, .88) 0px 0px 8px !important;
	}
	.custom-border-all{
		border:none !important;
	}
	.custom-navbar .navbar-header > a{
		line-height: 1.8 !important;
	}
	.custom-navbar{
		background-color: #ffffff !important;
	    border-color: #ffffff !important;
	    box-shadow: rgba(196, 196, 196, .88) 0px 0px 12px !important;
	    border-radius: 0 !important;
	}
}
@media (min-width:768px){
	.custom-margin {
	    margin: 25px auto;
	}
	.margin-top{
		margin-top:25px;
	}
	.agent-padding {
	    padding: 15px;
	}
	.custom-right-margin{
		margin-top:25px;
	}
	.custom-right-margin-btn{
		margin-top:20px;
	}
	.button-margin-top{
		margin-top:25px;
	}
	.custom-box-shadow{
		box-shadow: none;
	}
	.custom-navbar .navbar-header > a{
		line-height: 1.2;
	}
	.custom-navbar{
		background-color: #ffffff !important;
	    border-color: #ffffff !important;
	    box-shadow: rgba(196, 196, 196, .88) 0px 0px 12px !important;
	    border-radius: 0 !important;
	}
	.custom-navbar .cutom-link> li > a {
	    color: #777 !important;
	}
}
@media (min-width:320px){
	.custom-margin {
	    margin: 30px auto;
	}
	.margin-top{
		margin-top:25px;
	}
	.agent-padding {
	    padding: 13px;
	}
	.custom-right-margin{
		margin-top:25px;
	}
	.custom-right-margin-btn{
		margin-top:20px;
	}
	.button-margin-top{
		margin-top:25px;
	}
	.custom-box-shadow{
		box-shadow: none;
	}
	.custom-border-all{
		border:1px solid rgba(196, 196, 196, .88);
	}
	.custom-navbar .navbar-header > a{
		line-height: 1.2;
	}
	.custom-navbar{
		background-color: #333;
    	border-color: #333;
    	box-shadow: #1d1a1a 0px 0px 12px;
    	border-radius: 0;, 196, 196, .88) 0px 0px 12px;
	    border-radius: 0;
	}
	.custom-navbar .custom-link > li > a {
	    color: #fff;
	}
	/*.image-height {
	    height: 200px;
	}*/
}
@keyframes tick{
  	0%{
    	transform:scale(0)
  	}
  	90%{
    	transform:scale(1.6)
  	}
  	100%{
    	transform:scale(1)
  	}
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
/*-----======= Navbar CSS Ends =====-------*/